<!DOCTYPE html>
<html>
  <head>
    <title>Verify your email</title>
  </head>
  <body>
    <div style="background-color: bisque; padding: 20px; width: 50vh;">
      <p>Hi {{ user.username }},</p>
      <p>Please verify your email by clicking on the button below:</p>
      <p>
        <a
          href="{{ verification_url }}"
          style="
            padding: 10px 20px;
            background-color: #1f38c5;
            color: white;
            text-decoration: none;
          "
          >Verify Email</a
        >
      </p>
      <p>Thank you!</p>
    </div>
  </body>
</html>
